.group__number{
    margin: 0 auto;
    margin-top: 35px;
    width: 600px;
    height: 85px;

    background: #FFFFFF;
    border: 4px solid #FFA573;
    box-sizing: border-box;
    border-radius: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    padding: 20px;
    padding-left: 65px;
}

.dayWeek__switcher{
    user-select: none;
    cursor: pointer;
    margin-top: 33px;

    width: 120px;
    padding: 10px;
    text-align: center;

    background: #FFA573;
    border: 4px solid #C2A4E6;
    box-sizing: border-box;
    border-radius: 15px;

    color: white;
}

.view__switcher{
    display: flex;
}

.active{
    background: #FFFFFF;
    color: black;
}

.day_sitch{
    margin-left: 35px;
}

.place__mini{
    display: none;
}
.time__mini{
    display: none;
}

.chooseWeek{

    width: 670px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekBounds{
    padding-top: 13px;
    width: 182px;
    height: 65px;

    background: #FFFFFF;
    border: 4px solid #FFA573;
    box-sizing: border-box;
    border-radius: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-align: center;

    color: #000000;
}

.nextWeek__text{
    display: block;
    width: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-left: 9px;
    color: #000000;
}

.nextWeek{
    user-select: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 5px;
    width: 224px;
    height: 65px;

    background: #FFFFFF;
    border: 4px solid #FFA573;
    box-sizing: border-box;
    border-radius: 15px;
}

.prevWeek__text{
    display: block;
    width: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-right: 14px;
    margin-left: auto;
    color: #000000;
}

.prev{
    width: 17px;
    margin-left: 10px;
}

.next{
    width: 17px;
    margin-right: 10px;
}


.prevWeek{
    user-select: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 5px;
    width: 224px;
    height: 65px;

    background: #FFFFFF;
    border: 4px solid #FFA573;
    box-sizing: border-box;
    border-radius: 15px;
}

.back__btn{
    cursor: pointer;
    margin: 0 auto;
    margin-top: 18px;
    padding-top: 9px;
    width: 182px;
    height: 50px;

    background: #FFFFFF;
    border: 4px solid #FFA573;
    box-sizing: border-box;
    border-radius: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;

    color: #000000;
}

/* расписание по дням */

.days__wrapper{
    margin: 0 auto;
}

.day{
    margin-bottom: 30px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

    list-style-type: none;
    background: #FFFFFF;
    border: 4px solid #447FC1;
    box-sizing: border-box;
    border-radius: 15px;
}

.allDaySubjects{
    border-left: 3px dashed #C2A4E6;
}

.weekDay{
    width: 215px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    align-self: center;

    color: #000000;
}

.oneSubj{
    padding: 30px 0;
    padding-left: 15px;
    width: 727px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 3px dashed #FFA573;;
}

.oneSubj:last-child{
    border-bottom: none;
}

.subj{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    width: 400px;
    justify-content: center;
}

.time{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.building{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.cab{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.place{
    width: 92px;
}

@media (max-width: 769px){
    .group__number{
        text-align: center;
        font-size: 20px;
        width: 430px;
        height: 65px;
        padding: 15px;
    }
    .prevWeek{
        width: 180px;
        height: 55px;
    }
    .nextWeek{
        width: 180px;
        height: 55px;  
    }
    .prevWeek__text{
        font-size: 15px;
        width: 100px;
    }
    .nextWeek__text{
        font-size: 15px;
        width: 100px;
    }
    .weekBounds{
        font-size: 19px;
        height: 55px;
    }
    .chooseWeek{
        width: 100%;
    }
    .back__btn{
        font-size: 15px;
        height: 45px;
    }
    .days__wrapper{
        width: 620px;
    }
    .oneSubj{
        width: 500px;
    }
    .subj{
        font-size: 18px;
        width: 200px;
        text-align: start;
    }
    .building{
        font-size: 15px;
    }
    .cab{
        font-size: 15px;
    }
    .time{
        font-size: 15px;
    }
    .weekDay{
        font-size: 30px;
    }
    
}

@media (max-width: 426px){
    .nextWeek{
        width: 49px;
        height: 51px;
        padding-left: 13px;
        padding-bottom: 3px;
    }
    .nextWeek__text{
        display: none;
    }
    .prevWeek{
        width: 49px;
        height: 51px;
        padding-right: 13px;
        padding-bottom: 3px;
    }
    .prevWeek__text{
        display: none;
    }
    .chooseWeek{
        width: 100%;
    }
    .days__wrapper{
        width: 100%;
    }
    .day_sitch{
        margin-left: 83px;
    }
    .day{
        flex-direction: column;
    }
    .oneSubj{
        width: 94%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .allDaySubjects{
        border-left:none;
    }
    .oneSubj:first-child{
        border-top: 3px dashed #C2A4E6;
    }
    .weekDay{
        height: 80px;
        width: auto;
        display: flex;
        align-items: center;
    }
    .subj{
        padding: 10px;
        background-color: #FFA573;
        border-radius: 15px;
        font-size: 13px;
        width: 130px;
        text-align: center;
    }
    .blankSubj .subj{
        background-color: inherit;
    }
    .place{
        width: 55px;
        font-size: 12px;
        margin-left: 10px;
    }
    .cab{
        font-size: 12px;
    }
    .time{
        width: 40px;
    }
    .group__number{
        width: 100%;
        font-size: 17px;
        height: 58px;
    }
}

@media (max-width: 321px){
    .oneSubj{
        flex-direction: column-reverse;
    }
    .subj{
        padding: 10px;
        background-color: #FFA573;
        border-radius: 15px;
        font-size: 16px;
        width: auto;
    }
    .place{
        display: none;
    }
    .time{
        display: none;
    }
    .time__mini{
        display: block;
        width: auto;
    }
    .place__mini{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110px;
    }
    .cab{
        height: 13px;
    }
    .group__number{
        height: 76px;
    }
    .day_sitch{
        margin-left: 37px;
    }
}